.header {
  border-bottom: var(--border);
  background: var(--color-white);
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 100;

  &__container {
    @include flex-center;

    max-width: var(--container-width);
    margin: 0 auto;
    padding: 1rem var(--container-padding-x);
    justify-content: space-between;
  }

  &__logo {
    @include fluid-text(24, 20);

    font-weight: 800;
    color: var(--color-text-black);
    span { color: var(--color-blue); }
  }

  &__nav {
    display: flex;
    gap: 2rem;
    font-weight: 500;

    @include tablet {
      display: none;
    }
  }
}