html {
  &.is-lock {
    overflow: hidden;
  }
  scrollbar-gutter: auto;
}

body {
  font-size: 18px;

  min-height: auto;

  font-family:
    'San Francisco',
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    'Segoe UI',
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';
}

main {
  flex-grow: 1;
}

.button {
  padding: 0.8rem 1.5rem;
  border-radius: var(--border-radius-small);
  font-weight: 600;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &--primary {
    background: var(--color-blue);
    color: white;
    @include hover {
      background: var(--color-blue-light);
    }
  }

  &--outline {
    border: 1px solid var(--color-border-strong);
    @include hover { background: var(--color-white-dark); }
  }

  &--large {
    padding: 1.2rem 2.5rem;
    @include fluid-text(18, 16);
  }
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;

  @include hover {
    color: var(--color-red);
  }

  &[class] {
    text-decoration: none;
  }
}

:has(.swiper) {
  min-width: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #fff inset;
  box-shadow: 0 0 0 1000px #fff inset;
  -webkit-text-fill-color: #000;
  transition: background-color 5000s ease-in-out 0s;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes gradient-move {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    color-adjust: exact;
  }

  * {
    box-shadow: none !important;
    text-shadow: none !important;
  }

  .display-question-block,
  .display-choice-item.selected,
  .display-matchpairs__row,
  .display-essay__answer {
    background-color: inherit !important;
    color: inherit !important;
    -webkit-print-color-adjust: exact !important;
  }

  .display-choice-item.selected {
    font-weight: 700;
    font-size: 18px;
  }

  .checkbox-indicator,
  .radio-indicator,
  .arrow {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}
